@import "../../global.scss";

.CardWorksMobile--container {
  width: 40%;
  height: 27%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }
  .github {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    h1 {
      font-size: 17px;
      align-self: center;
      margin-right: 5px;
    }
  }
  
  p {
    text-align: justify;
    font-size: 12px;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;

    .technology {
      margin-right: 5px;
    }
  }

  

}