@import "../../global.scss";

.CardWorksMobile--container {
  width: 40%;
  height: 27%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  position: relative;
  border: black solid 1px;

  &:hover {
    transform: scale(1.05);
  }

  &:hover .CardWorksMobile--overlay {
    opacity: 1;
  }

  .CardWorksMobile--header {
    display: flex;
    justify-content: center;
    margin: 0px;
    h1 {
      font-size: 17px;
      align-self: center;
      margin-right: 5px;
      text-align: center;
    }
  }

  .CardWorksMobile--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .CardWorksMobile--github {
      margin-bottom: 10px;
    }
    
    
    p {
      text-align: justify;
      font-size: 12px;
      text-align: center;
      margin: 0;
      margin-bottom: 15px;
      text-align: justify;
      padding: 0 10px;
    }

    .CardWorksMobile--technologies {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto;

      .CardWorksMobile--technology {
        margin-right: 10px;
      }
    }

  }

}